<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idanfa.Rateme">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.idanfa.Rateme.MainActivity" />
        <activity android:name="com.idanfa.Rateme.ChooseLoginRegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.idanfa.Rateme.RegistrationActivity" />
        <activity android:name="com.idanfa.Rateme.LoginActivity" />
        <activity android:name="com.idanfa.Rateme.SettingsActivity" />
        <activity android:name="com.idanfa.Rateme.Matches.MatchesActivity" />
        <activity android:name="com.idanfa.Rateme.Chat.ChatActivity"></activity>
    </application>

</manifest>